.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-center;
}

.card-header{
    padding-top: 5px;
    padding-bottom: 5px;

}

.card-header h1{
    font-size: bold;
    font-weight: 600;
    padding-top: 10px;
}


.form-group{
    padding-top: 10px;
    padding-bottom: 10px;
}

.noEdit .form-group:not(:last-child){
    padding-bottom: 23px;
}

.noEdit .form-group label{
    color: #9E9E9E;
    line-height: 1;
}

textarea {
    height: 180px;
}