.container {
    padding-top: 3%;
    padding-bottom: 3%;
}


.card-header{
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-center;

}

.card-header h1{
    font-size: bold;
    font-weight: 600;
    padding-top: 10px;
}

.card-header button a {
    text-decoration: none;
    color: white;
}


.table-responsive {
    margin: 0 -15px; /* Remove extra margin that might be affecting the card */
}